@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>John Marshall<br /></p>
    <p>325 Factory Avenue North # 6<br /></p>
    <p>Renton, WA 98057<br /></p>
    <abbr title="Phone">Phone: </abbr>
    503.913.1695
</address>

