@{
    ViewBag.Title = "Main Page";
}

<div class="jumbotron">
    <h1>Restoration Site Data</h1>
    <h3>On this site you can download restoration and mitigation site data to use in your own independent anlyses and upload data for others to access.</h3>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Data Create, Delete, and Update Controls are accessible at the Data Graphic User Interface.
        </p>
        
    </div>
    
    <div class="col-md-4">
        <h2>Related Web Pages</h2>
        <p>You may find relevant information and data at this web site: .</p>
        <p><a href="http://www.mitigationcreditdebit.com">Learn More</a></p>
    </div>
</div>